# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
*.pyc
*.pyo
*.pyd
*.log

# --- Node.js ---
node_modules/
dist/
build/

# --- PlatformIO / Embedded ---
.pio/
.platformio/

# --- VS Code / OS ---
.vscode/
.DS_Store
.idea/
